# BSAN7205 ASSESSMENT 2

In this assessment, we perform data exploration & data preparation on the datasets received from our client the Edenglassie Department of Education, ready for purpose.

In particular our client are interested in:
1. See and track student performance; and
2. Cultivate insight with respect to gender
balance

The first output we plan to provide the client in this regard is: **Make a Pivot Tableshowing percentage of different genders enrolled at 'Kirimpika School' in secondary year levels (8, 9, 10) for the year 2020**

---

**Datasets we received:**

1. **schools**
2. **students**
3. **enrolments**
4. year level mapping
5. **ae assessment**
6. ae assessment mapping
7. **pat assessment**
8. **naplan assessment**
9. naplan mapping
10. pat mapping
11. **attendance**

## 1.&nbsp;Loading the data

First step is to import the Pandas library, which will be required for our data analysis and transformation tasks, and mounting Google drive, where my datasets are being stored:

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Loading all up the datasets received from Aginic (excluding the mapping files), ready for exploration and transformation:

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/!Colab Notebooks/T2/01 schools.csv')

In [ ]:
df2=pd.read_csv('/content/drive/MyDrive/!Colab Notebooks/T2/02 students.csv')

In [ ]:
df3=pd.read_csv('/content/drive/MyDrive/!Colab Notebooks/T2/03 enrolments.csv')

In [ ]:
df5=pd.read_csv('/content/drive/MyDrive/!Colab Notebooks/T2/05 ae_assessment.csv')

In [ ]:
df7=pd.read_csv('/content/drive/MyDrive/!Colab Notebooks/T2/07 pat_assessment.csv')

In [ ]:
df8=pd.read_csv('/content/drive/MyDrive/!Colab Notebooks/T2/08 naplan_assessment.csv')

In [ ]:
df11=pd.read_csv('/content/drive/MyDrive/!Colab Notebooks/T2/11 attendance.csv')

<ipython-input-14-63b76482a06c>:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df11=pd.read_csv('/content/drive/MyDrive/!Colab Notebooks/T2/11 attendance.csv')

## 2.&nbsp;Data Understanding

We can get a basic overview of each of the datasets using the pandas function .info():

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   school_id     12 non-null     int64
 1   name          12 non-null     object
 2   location      12 non-null     object
 3   ASGS-RA_2016  12 non-null     int64
dtypes: int64(2), object(2)
memory usage: 512.0+ bytes

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5406 entries, 0 to 5405
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   student_id    5406 non-null   int64
 1   student_name  5406 non-null   object
 2   gender        5387 non-null   object
dtypes: int64(1), object(2)
memory usage: 126.8+ KB

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30478 entries, 0 to 30477
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrolment_id            30478 non-null  object
 1   student_id              30478 non-null  int64
 2   year_of_enrolment       30478 non-null  int64
 3   enrolled_year_level     30478 non-null  object
 4   enrolled_school_id      30478 non-null  int64
 5   enrolled_class          30478 non-null  object
 6   flag_current_enrolment  30478 non-null  int64
dtypes: int64(4), object(3)
memory usage: 1.6+ MB

In [ ]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444600 entries, 0 to 444599
Data columns (total 9 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        444600 non-null  int64
 1   assessment                444600 non-null  object
 2   assessment_id             444600 non-null  int64
 3   student_id                444600 non-null  int64
 4   school_id                 444600 non-null  int64
 5   year_level_when_assessed  444600 non-null  int64
 6   year_when_assessed        444600 non-null  int64
 7   term_when_assessed        444600 non-null  object
 8   result                    443286 non-null  object
dtypes: int64(6), object(3)
memory usage: 30.5+ MB

In [ ]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52720 entries, 0 to 52719
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        52720 non-null  int64
 1   assessment_code           52720 non-null  object
 2   domain_id                 52720 non-null  int64
 3   assessment_name           52695 non-null  object
 4   student_id                52720 non-null  int64
 5   school_id                 52720 non-null  int64
 6   year_level_when_assessed  52720 non-null  int64
 7   year                      52695 non-null  float64
 8   scale_score               52720 non-null  object
dtypes: float64(1), int64(5), object(3)
memory usage: 3.6+ MB

In [ ]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52130 entries, 0 to 52129
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               52130 non-null  int64
 1   assessment_name  52130 non-null  object
 2   domain_id        52130 non-null  int64
 3   student_id       52130 non-null  int64
 4   school_id        52130 non-null  int64
 5   grade_level      52130 non-null  object
 6   year_assessed    52130 non-null  int64
 7   score            52130 non-null  int64
dtypes: int64(6), object(2)
memory usage: 3.2+ MB

In [ ]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240286 entries, 0 to 9240285
Data columns (total 8 columns):
 #   Column                    Dtype
---  ------                    -----
 0   enrolment_id              object
 1   attendance_date_id        object
 2   day_of_week               object
 3   session_no                int64
 4   year_level_when_attended  object
 5   school_id_when_attended   int64
 6   class_when_attended       object
 7   participation_code        int64
dtypes: int64(3), object(5)
memory usage: 564.0+ MB

## 3.&nbsp;Data Preparation
Before we can manipulate our datasets to deliver insights to our clients, we first need to prepare them. We will clean and ready the data, checking particularly for the following data quality issues:
1. Duplicates
2. Missing values
3. Invalid values
4. Formatting
5. Outliers
6. Value inconsistencies

From our data preparation exercise, for which the working out is shown in the subsequent sections, we identified the following data quality issues:

**2. students.csv**
    
    a. duplicated rows,
    b. null values within the 'gender' variable, and
    c. value/formatting inconsistencies in 'gender' for e.g. where gender is shown as 'female', 'F', 'Female'..

**3. enrolments.csv**

    a. formatting inconsistency in 'enrolled_year_level' where integers entered in alphabet, and
    b. formatting inconsistency in 'enrolled_class', where the same class type was entered with different formatting

**5. ae_assessment.csv**

    a. formatting inconsistency in 'term_when_assessed' - some entries are a string of alphabet and numbers, but could be an int64 (e.g. 'Term 1' instead of '1')
    b. 'result' contains 1314 missing values

**7. pat_assessment.csv**

    a. 25 entries in 'assessment_name' and 'year' with null values
    b. 'year' is not in the correct format, it is float64 but should int64
    c. 'scale_score' has formatting issue - one entry 'not applicable' when the rest are int64
    d. 'scale_score' contains outlier values

**8. naplan_assessment.csv**

    a. 15 duplicate entries
    b. 'grade_level' contains format inconsistency - several entries are entered in alphabet instead of integer
    c. 'score' contains 5 out of bound values (>700)

**11. attendance.csv**

    a. 'year_level' contains some entries expressed as alphabet instead of integer e.g. 'three' not '3'
    b. 'year_level' may contain entries with trailing white spaces, causing the same year level to be shown as different unique values.
    c. 'day of week' contains value inconsistencies, where days are displayed for e.g. as both 'Mon' and 'Monday'

### 3.1 schools.csv

In [ ]:
df1.head(20)
#This dataset is small enough to visually check the table for data issues
#Upon visual inspection, the data appears clean.

    school_id                  name              location  ASGS-RA_2016
0           0    Yirrikipayi School    Parrearra QLD 4575             1
1           1   Jarrakarlani School    Longreach QLD 4730             5
2           2  Marntuwunyini School       Stokes QLD 4823             5
3           3  Kirluwarringa School      Wairuna QLD 4872             4
4           4      Kirimpika School     Consuelo QLD 4702             4
5           5     Jarrangani School       Allora QLD 4362             2
6           6    Arntirringa School    Kooralbyn QLD 4285             2
7           7  Jipwajirringa School  Eerwah Vale QLD 4562             2
8           8    Nyarringari School        Ningi QLD 4511             1
9           9        Wuninga School       Canaga QLD 4413             3
10         10      Arlaminga School  Willow Vale QLD 4209             1
11         11     Kawukawuni School     Eromanga QLD 4480             5

### 3.2 students.csv

In [ ]:
#Check for duplicates
df2.duplicated().sum()

25

In [ ]:
#We identified 25 duplicates. We can inspect the duplicated rows with the following function:
pd.set_option('display.max_rows', None)
df2[df2.duplicated()]

      student_id  student_name  gender
5381        3226  Student_3226       M
5382        4010  Student_4010       F
5383        3856  Student_3856       M
5384        2696  Student_2696       F
5385        5103  Student_5103       M
5386        3831  Student_3831  female
5387        2529  Student_2529       M
5388        3039  Student_3039       M
5389        4244  Student_4244       F
5390        1081  Student_1081       F
5391        2818  Student_2818       M
5392        5348  Student_5348       M
5393        4656  Student_4656       F
5394        1821  Student_1821  female
5395        1904  Student_1904       M
5396        3416  Student_3416       F
5397        1856  Student_1856       F
5398        4082  Student_4082       F
5399        2984  Student_2984       M
5400        1020  Student_1020       F
5401         755   Student_755  Female
5402        1843  Student_1843       M
5403        4333  Student_4333  female
5404        5202  Student_5202       F
5405         453   Student_453       F

In [ ]:
# Check null & missing values
df2.isnull().sum()

student_id       0
student_name     0
gender          19
dtype: int64

In [ ]:
# Found 19 null values; let's inspect all those rows where 'gender' is NaN
df2[df2['gender'].isnull()]

      student_id  student_name gender
55            55    Student_55    NaN
359          359   Student_359    NaN
455          455   Student_455    NaN
519          519   Student_519    NaN
930          930   Student_930    NaN
1324        1324  Student_1324    NaN
1757        1757  Student_1757    NaN
2134        2134  Student_2134    NaN
2149        2149  Student_2149    NaN
2439        2439  Student_2439    NaN
2962        2962  Student_2962    NaN
3391        3391  Student_3391    NaN
3564        3564  Student_3564    NaN
3704        3704  Student_3704    NaN
3709        3709  Student_3709    NaN
3784        3784  Student_3784    NaN
4259        4259  Student_4259    NaN
4400        4400  Student_4400    NaN
5098        5098  Student_5098    NaN

In [ ]:
#Now checking for valid / consistent values, focusing on 'gender' variable
df2['gender'].nunique()

7

In [ ]:
#We identified 7 unique values within 'gender', let's inspect what those are and how many:
df2['gender'].value_counts()

gender
M         2135
F         1989
female     453
Male       336
Female     229
male       141
Other      104
Name: count, dtype: int64

### 3.3 enrolments.csv

In [ ]:
#Check for duplicated entries
df3.duplicated().sum()
#None found!

0

In [ ]:
#Check for any missing values
df3.isnull().sum()
#Looks good

enrolment_id              0
student_id                0
year_of_enrolment         0
enrolled_year_level       0
enrolled_school_id        0
enrolled_class            0
flag_current_enrolment    0
dtype: int64

In [ ]:
#Check for outlier values in each column:
df3.describe()
#Looking specifically at the min / max values of each variable, no outliers found; looks clean

,student_id,year_of_enrolment,enrolled_school_id,flag_current_enrolment
count,30478.000000,30478.000000,30478.000000,30478.000000
mean,2635.375943,2018.399633,4.865542,0.176554
std,1504.180552,1.936845,3.746026,0.381297
min,0.000000,2015.000000,0.000000,0.000000
25%,1337.000000,2017.000000,0.000000,0.000000
50%,2653.500000,2019.000000,5.000000,0.000000
75%,3905.750000,2020.000000,8.000000,0.000000
max,5380.000000,2021.000000,11.000000,1.000000

In [ ]:
#Looking for any formatting inconsistencies
df3.info()
#'enrolled_year_level' dtype could be int64 but instead is object; this indicates potential value inconsistencies.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30478 entries, 0 to 30477
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrolment_id            30478 non-null  object
 1   student_id              30478 non-null  int64
 2   year_of_enrolment       30478 non-null  int64
 3   enrolled_year_level     30478 non-null  object
 4   enrolled_school_id      30478 non-null  int64
 5   enrolled_class          30478 non-null  object
 6   flag_current_enrolment  30478 non-null  int64
dtypes: int64(4), object(3)
memory usage: 1.6+ MB

In [ ]:
#We can investigate with the following function:
df3['enrolled_year_level'].value_counts()
#value_counts demonstrates formatting issues; in 15 entries, numbers are entered in alphabet instead of as integers

enrolled_year_level
2         3274
1         3260
3         3229
4         3081
5         2994
6         2962
0         2848
7         2532
8         2115
9         1667
10        1234
11         838
12         429
six          3
one          3
eight        3
eleven       2
four         2
five         1
zero         1
Name: count, dtype: int64

In [ ]:
#Searching for other potential inconsistencies:
df3.nunique()
#'enrolled_class' shows 9 unique values, let's invesigate further..

enrolment_id              30478
student_id                 5381
year_of_enrolment             7
enrolled_year_level          20
enrolled_school_id           12
enrolled_class                9
flag_current_enrolment        2
dtype: int64

In [ ]:
# Using .value_counts() to check 'enrolled_class' column for inconsistencies:
df3['enrolled_class'].value_counts()
#This brings up a total 20 entries with inconsistent values.

enrolled_class
Class_A    12797
Class_B    10128
Class_C     5475
Class_D     1564
Class_E      494
A             10
B              8
C              1
D              1
Name: count, dtype: int64

### 3.5 ae_assessment.csv

In [ ]:
df5.head()

,id,assessment,assessment_id,student_id,school_id,year_level_when_assessed,year_when_assessed,term_when_assessed,result
0,0,A-E,1,0,0,8,2021,2,C
1,1,A-E,2,0,0,8,2021,2,C
2,2,A-E,3,0,0,8,2021,2,B
3,3,A-E,4,0,0,8,2021,2,B
4,4,A-E,1,0,0,8,2021,1,A

In [ ]:
#Check for duplicates:
df5.duplicated().sum()
#None found

0

In [ ]:
#Check for missing values
df5.isnull().sum()
#'result' contains 1314 missing

id                             0
assessment                     0
assessment_id                  0
student_id                     0
school_id                      0
year_level_when_assessed       0
year_when_assessed             0
term_when_assessed             0
result                      1314
dtype: int64

In [ ]:
df5.nunique()
#We use this function to cross-check with our data definitions to reveal irregularities.
#The first 5 variables appear clean - in the next step we look individually at the remaining variables.

id                          444600
assessment                       1
assessment_id                    4
student_id                    5381
school_id                       12
year_level_when_assessed        13
year_when_assessed               7
term_when_assessed               8
result                           7
dtype: int64

In [ ]:
df5['year_when_assessed'].value_counts()
#No irregularities

year_when_assessed
2020    86096
2019    79056
2018    71408
2017    62768
2016    54784
2015    47440
2021    43048
Name: count, dtype: int64

In [ ]:
df5['term_when_assessed'].value_counts()
#Formatting inconsistency - a small number of entries are a string of alphanumeric; should be int64 with 4 unique values only

term_when_assessed
1         121864
2         121860
4         100350
3         100340
Term 2        52
Term 1        48
Term 3        48
Term 4        38
Name: count, dtype: int64

In [ ]:
df5['result'].value_counts()
#'result' variable contains standard A-E results, but also some 'not applicable' and 'not assessed' entries
#These entries only make up a small % of the overall dataset, therefore we will keep these without transformations
#Only if we are required to analyse this specific variable, we will simply drop these entries from the dataset.

result
A                 152206
B                 142846
C                 100490
D                  37547
E                   8714
Not Applicable       783
not assessed         700
Name: count, dtype: int64

In [ ]:
#Check outliers
df5.describe()
#None identified

,id,assessment_id,student_id,school_id,year_level_when_assessed,year_when_assessed
count,444600.000000,444600.000000,444600.000000,444600.000000,444600.000000,444600.000000
mean,222299.500000,2.500000,2630.087018,4.835286,4.463716,2018.147854
std,128345.109177,1.118035,1499.201909,3.759543,3.090903,1.842921
min,0.000000,1.000000,0.000000,0.000000,0.000000,2015.000000
25%,111149.750000,1.750000,1336.000000,0.000000,2.000000,2017.000000
50%,222299.500000,2.500000,2651.000000,5.000000,4.000000,2018.000000
75%,333449.250000,3.250000,3896.000000,8.000000,7.000000,2020.000000
max,444599.000000,4.000000,5380.000000,11.000000,12.000000,2021.000000

### 3.7 pat_assessment.csv

In [ ]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52720 entries, 0 to 52719
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        52720 non-null  int64
 1   assessment_code           52720 non-null  object
 2   domain_id                 52720 non-null  int64
 3   assessment_name           52695 non-null  object
 4   student_id                52720 non-null  int64
 5   school_id                 52720 non-null  int64
 6   year_level_when_assessed  52720 non-null  int64
 7   year                      52695 non-null  float64
 8   scale_score               52720 non-null  object
dtypes: float64(1), int64(5), object(3)
memory usage: 3.6+ MB

In [ ]:
df7.head()

,id,assessment_code,domain_id,assessment_name,student_id,school_id,year_level_when_assessed,year,scale_score
0,0,PAT,1,Mathematics,0,0,8,2021.0,43
1,1,PAT,2,Reading,0,0,8,2021.0,50
2,2,PAT,1,Mathematics,1,0,2,2021.0,50
3,3,PAT,2,Reading,1,0,2,2021.0,25
4,4,PAT,1,Mathematics,3,0,3,2021.0,23

In [ ]:
#Check duplicates
df7.duplicated().sum()
#None found

0

In [ ]:
#Check missing values
df7.isnull().sum()
#25 entries in 'assessment_name' and 'year' with null values

id                           0
assessment_code              0
domain_id                    0
assessment_name             25
student_id                   0
school_id                    0
year_level_when_assessed     0
year                        25
scale_score                  0
dtype: int64

In [ ]:
#We check where those 25 null values are within our entries:
df7[df7.isnull().any(axis=1)].head(25)

,id,assessment_code,domain_id,assessment_name,student_id,school_id,year_level_when_assessed,year,scale_score
205,205,PAT,2,NaN,134,0,3,2021.0,48
2769,2769,PAT,2,NaN,1617,3,3,2021.0,30
3031,3031,PAT,2,NaN,1789,4,7,2021.0,39
5425,5425,PAT,2,Reading,3315,7,4,NaN,28
11307,11307,PAT,2,NaN,1336,1,5,2020.0,19
12063,12063,PAT,2,Reading,1792,4,9,NaN,39
13653,13653,PAT,2,Reading,2745,6,8,NaN,37
13776,13776,PAT,1,Mathematics,2816,1,6,NaN,50
13985,13985,PAT,2,Reading,2941,6,9,NaN,31
15949,15949,PAT,2,NaN,4115,8,9,2020.0,45
17086,17086,PAT,1,NaN,4784,10,5,2020.0,46
17200,17200,PAT,1,NaN,4851,10,4,2020.0,26
17447,17447,PAT,2,NaN,4998,10,4,2020.0,41
17764,17764,PAT,1,Mathematics,5180,10,1,NaN,45
18244,18244,PAT,1,NaN,86,0,5,2019.0,32
19962,19962,PAT,1,NaN,1119,0,3,2019.0,35
21188,21188,PAT,1,NaN,1878,2,6,2019.0,3
21295,21295,PAT,2,Reading,1931,5,6,NaN,50
22131,22131,PAT,2,Reading,2421,5,2,NaN,3
22482,22482,PAT,1,NaN,2615,6,10,2019.0,42
22866,22866,PAT,1,Mathematics,2807,7,5,NaN,29
24946,24946,PAT,1,Mathematics,3986,8,7,NaN,47
26495,26495,PAT,2,Reading,5003,10,3,NaN,43
26603,26603,PAT,2,NaN,5072,10,2,2019.0,45
27284,27284,PAT,1,Mathematics,174,0,2,NaN,50

In [ ]:
#Check for invalid values & formatting issues:
#We can use .info to check dtypes of each column for any immediate inconsistencies
df7.info()
#'year' as a float64 could be a int64
#'scale_score' is object when it could be int64, indicates formatting issue

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52720 entries, 0 to 52719
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        52720 non-null  int64
 1   assessment_code           52720 non-null  object
 2   domain_id                 52720 non-null  int64
 3   assessment_name           52695 non-null  object
 4   student_id                52720 non-null  int64
 5   school_id                 52720 non-null  int64
 6   year_level_when_assessed  52720 non-null  int64
 7   year                      52695 non-null  float64
 8   scale_score               52720 non-null  object
dtypes: float64(1), int64(5), object(3)
memory usage: 3.6+ MB

In [ ]:
#Checking for other formatting issues, column by column
df7.nunique()

id                          52720
assessment_code                 1
domain_id                       2
assessment_name                 2
student_id                   5381
school_id                      12
year_level_when_assessed       10
year                            7
scale_score                    57
dtype: int64

In [ ]:
df7['school_id'].value_counts().sort_index()
#Looks fine

school_id
0     14006
1      2072
2      1702
3      2618
4      1756
5      7448
6      3160
7      4076
8      4306
9      3568
10     6732
11     1276
Name: count, dtype: int64

In [ ]:
df7['year_level_when_assessed'].value_counts().sort_index()
#Looks fine

year_level_when_assessed
1     6526
2     6548
3     6458
4     6166
5     5990
6     5930
7     5064
8     4236
9     3334
10    2468
Name: count, dtype: int64

In [ ]:
df7['year'].value_counts().sort_index()
#We can see the year being shown as float64 instead of int64; but otherwise fine

year
2015.0    5062
2016.0    5929
2017.0    6842
2018.0    7841
2019.0    8921
2020.0    9019
2021.0    9081
Name: count, dtype: int64

In [ ]:
df7['scale_score'].value_counts()
#We found the formatting issue here, all entries are int64 except the one entry 'Not Available'
#Incidentally we also found 5 outlier values, probably entered incorrectly

scale_score
50               8409
37               1829
39               1815
41               1774
38               1773
36               1691
40               1691
35               1664
42               1660
43               1629
34               1594
33               1592
44               1575
32               1544
45               1525
46               1478
31               1450
30               1389
47               1330
29               1285
48               1245
28               1231
49               1181
27               1084
26               1033
25                913
24                910
23                821
22                748
21                636
20                555
19                495
18                448
17                415
16                348
15                302
14                277
13                225
12                221
10                167
11                165
9                 116
8                  95
7                  82
0                  77
6                  63
5                  53
4                  33
3                  33
2                  30
1                  11
Not Available       5
383                 1
434                 1
316                 1
324                 1
320                 1
Name: count, dtype: int64

### 3.8 naplan_assessment.csv

In [ ]:
#Check for duplicates
df8.duplicated().sum()
#Found 15 duplicates

15

In [ ]:
#The duplicated entries can be shown with:
df8[df8.duplicated()]

,id,assessment_name,domain_id,student_id,school_id,grade_level,year_assessed,score
52115,857,NAPLAN,3,517,0,9,2021,622
52116,20381,NAPLAN,2,1479,3,3,2019,530
52117,26168,NAPLAN,4,4821,10,3,2019,472
52118,16563,NAPLAN,4,4425,9,5,2020,586
52119,51250,NAPLAN,1,3771,7,5,2015,364
52120,41374,NAPLAN,5,4234,9,5,2017,354
52121,44591,NAPLAN,2,2514,5,3,2016,699
52122,44323,NAPLAN,4,2346,5,7,2016,277
52123,49326,NAPLAN,2,1889,7,5,2015,662
52124,44939,NAPLAN,5,2671,0,5,2016,554
52125,14107,NAPLAN,3,2968,6,9,2020,342
52126,2361,NAPLAN,2,1440,2,3,2021,529
52127,47848,NAPLAN,4,4271,8,7,2016,673
52128,26131,NAPLAN,2,4789,10,3,2019,364
52129,263,NAPLAN,4,159,0,7,2021,397

In [ ]:
#Check for missing values
df8.isnull().sum()
#None found

id                 0
assessment_name    0
domain_id          0
student_id         0
school_id          0
grade_level        0
year_assessed      0
score              0
dtype: int64

In [ ]:
#Check for invalid values & formatting issues
df8.info()
#'grade_level' as dtype object indicates an issue. Let's investigate..

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52130 entries, 0 to 52129
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               52130 non-null  int64
 1   assessment_name  52130 non-null  object
 2   domain_id        52130 non-null  int64
 3   student_id       52130 non-null  int64
 4   school_id        52130 non-null  int64
 5   grade_level      52130 non-null  object
 6   year_assessed    52130 non-null  int64
 7   score            52130 non-null  int64
dtypes: int64(6), object(2)
memory usage: 3.2+ MB

In [ ]:
df8.nunique()
#'grade_level' should only contain 4 unique values for years 3, 5, 7 and 9, as per data definitions.
#We will investigate for formatting issues

id                 52115
assessment_name        1
domain_id              5
student_id          4463
school_id             12
grade_level            6
year_assessed          7
score                699
dtype: int64

In [ ]:
df8['grade_level'].value_counts()
#We have identified the format inconsistency, several entries are entered in alphabet instead of integer

grade_level
3        16143
5        14980
7        12660
9         8337
three        7
seven        3
Name: count, dtype: int64

In [ ]:
#Check for outliers:
df8.describe()
#'score' should only contain 0-700, per data definitions, but there is a max value of 5128

,id,domain_id,student_id,school_id,year_assessed,score
count,52130.000000,52130.000000,52130.000000,52130.000000,52130.000000,52130.000000
mean,26057.760157,3.000038,2561.493075,4.713044,2018.428851,520.218895
std,15045.501700,1.414173,1429.346361,3.625695,1.896184,149.346048
min,0.000000,1.000000,0.000000,0.000000,2015.000000,0.000000
25%,13029.250000,2.000000,1338.000000,0.000000,2017.000000,422.000000
50%,26058.500000,3.000000,2623.000000,5.000000,2019.000000,536.000000
75%,39088.750000,4.000000,3787.000000,8.000000,2020.000000,647.000000
max,52114.000000,5.000000,5380.000000,11.000000,2021.000000,5128.000000

In [ ]:
#Investigating the outlier issue in 'score' using boolean:
bool = (df8['score'] > 700)
OOB = df8['score'][bool]
OOB
#'score contains 5 out of bound values (greater than 700)

264      2561
7219     5128
11625    3171
14630    4273
23041    2550
Name: score, dtype: int64

### 3.11 attendance.csv

In [ ]:
#Check for duplicates
df11.duplicated().sum()
#None found

0

In [ ]:
#Check for missing values
df11.isnull().sum()
#None found

enrolment_id                0
attendance_date_id          0
day_of_week                 0
session_no                  0
year_level_when_attended    0
school_id_when_attended     0
class_when_attended         0
participation_code          0
dtype: int64

In [ ]:
#Check for invalid values & formatting issues
df11.info()
#'year_level' as object and not int64 needs to be investigated

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240286 entries, 0 to 9240285
Data columns (total 8 columns):
 #   Column                    Dtype
---  ------                    -----
 0   enrolment_id              object
 1   attendance_date_id        object
 2   day_of_week               object
 3   session_no                int64
 4   year_level_when_attended  object
 5   school_id_when_attended   int64
 6   class_when_attended       object
 7   participation_code        int64
dtypes: int64(3), object(5)
memory usage: 564.0+ MB

In [ ]:
df11['year_level_when_attended'].value_counts().sort_index(key=lambda x: x.astype(str))
#'year_level' contains some entries expressed as alphabet instead of integer e.g. 'three' not '3'
#'year_level' may contain entries with trailing white spaces, causing the same year level to be shown as different unique values.

year_level_when_attended
0         471176
0         404332
1         493225
1         471752
10        199230
10        214779
11        106078
11        146899
12         55440
12         29501
2         509273
2         441390
3         449482
3         470525
4         460088
4         428976
5         403336
5         459528
6         443104
6         402440
7         409112
7         435106
8         408136
8         347954
9         271100
9         308224
eight          8
eleven         1
five           6
four           4
nine          10
one            9
seven         12
six           12
ten            3
three         15
twelve         1
two            9
zero          10
Name: count, dtype: int64

In [ ]:
#Checkig further formatting issues:
df11.nunique()
#'day of week' shows 10 unique values, investigate this further
#'year level' has 39 unique values, we identified this issue in the previous step

enrolment_id                27513
attendance_date_id           1000
day_of_week                    10
session_no                      2
year_level_when_attended       39
school_id_when_attended        12
class_when_attended             5
participation_code              3
dtype: int64

In [ ]:
df11['day_of_week'].value_counts()
#'day of week' contains value inconsistencies, where days are displayed for e.g. as both 'Mon' and 'Monday'

day_of_week
Wednesday    1848833
Thursday     1848831
Tuesday      1848830
Monday       1848827
Friday       1844915
Mon               13
Fri               11
Tue               10
Thu                9
Wed                7
Name: count, dtype: int64

## 4.&nbsp;Data Transformation

Now that we have identified all of our data quality issues, our next step is to manipulate the dataset to address each of the issues we found in turn.

### 4.2 students.csv

    a. duplicated rows,
    b. null values within the 'gender' variable, and
    c. value/formatting inconsistencies in 'gender' for e.g. where gender is shown as 'female', 'F', 'Female'..

In [ ]:
#Dropping duplicated rows:
df2.drop_duplicates(inplace=True)
df2.duplicated().sum()

0

In [ ]:
df2[df2['gender'].isnull()]

      student_id  student_name gender
55            55    Student_55    NaN
359          359   Student_359    NaN
455          455   Student_455    NaN
519          519   Student_519    NaN
930          930   Student_930    NaN
1324        1324  Student_1324    NaN
1757        1757  Student_1757    NaN
2134        2134  Student_2134    NaN
2149        2149  Student_2149    NaN
2439        2439  Student_2439    NaN
2962        2962  Student_2962    NaN
3391        3391  Student_3391    NaN
3564        3564  Student_3564    NaN
3704        3704  Student_3704    NaN
3709        3709  Student_3709    NaN
3784        3784  Student_3784    NaN
4259        4259  Student_4259    NaN
4400        4400  Student_4400    NaN
5098        5098  Student_5098    NaN

In [ ]:
#Replacing null values in ['gender'] with 'Other'
df2['gender'].fillna('Other', inplace=True)
df2.isnull().sum()

<ipython-input-71-dcdcf549ecdc>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['gender'].fillna('Other', inplace=True)

student_id      0
student_name    0
gender          0
dtype: int64

In [ ]:
#Fixing gender label formatting issue by creating a dictionary
Dict = {'M':'Male', 'F':'Female', 'male':'Male', 'female':'Female'}
df2['gender'].replace(Dict, inplace=True)
df2['gender'].value_counts()

gender
Female    2656
Male      2602
Other      123
Name: count, dtype: int64

### 4.3 enrolments.csv

    a. formatting inconsistency in 'enrolled_year_level' where integers entered in alphabet, and
    b. formatting inconsistency in 'enrolled_class', where the same class type was entered with different formatting

In [ ]:
#Change all entries in 'enrolled_year_level' to consistent int64 format by creating a dictionary.
Dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8, 'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0}
df3['enrolled_year_level'].replace(Dict, inplace=True)
df3['enrolled_year_level'] = pd.to_numeric(df3['enrolled_year_level'])
df3['enrolled_year_level'].value_counts().sort_index()

<ipython-input-73-b93bdb5ee2e0>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3['enrolled_year_level'].replace(Dict, inplace=True)

enrolled_year_level
0     2849
1     3263
2     3274
3     3229
4     3083
5     2995
6     2965
7     2532
8     2118
9     1667
10    1234
11     840
12     429
Name: count, dtype: int64

In [ ]:
class_map = {'A': 'Class_A', 'B': 'Class_B', 'C': 'Class_C', 'D': 'Class_D', 'E': 'Class_E'}
df3['enrolled_class'].replace(class_map, inplace=True)
df3['enrolled_class'].value_counts().sort_index()

<ipython-input-74-154cc02ab5f7>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3['enrolled_class'].replace(class_map, inplace=True)

enrolled_class
Class_A    12807
Class_B    10136
Class_C     5476
Class_D     1565
Class_E      494
Name: count, dtype: int64

### 4.5 ae_assessment.csv

    a. formatting inconsistency in 'term_when_assessed' - some entries are a string of alphabet and numbers, but could be an int64 (e.g. 'Term 1' instead of '1')
    b. 'result' contains 1314 missing values

In [ ]:
df5['term_when_assessed'].value_counts()

term_when_assessed
1         121864
2         121860
4         100350
3         100340
Term 2        52
Term 1        48
Term 3        48
Term 4        38
Name: count, dtype: int64

In [ ]:
#Resolving formatting inconsistency in 'term_when_assessed' by creating a dictionary
term_dict = {'Term 1': 1, 'Term 2': 2, 'Term 3': 3, 'Term 4': 4}
df5['term_when_assessed'].replace(term_dict, inplace=True)
df5['term_when_assessed'] = pd.to_numeric(df5['term_when_assessed'])
df5['term_when_assessed'].value_counts().sort_index()

<ipython-input-76-e761bad3f755>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df5['term_when_assessed'].replace(term_dict, inplace=True)

term_when_assessed
1    121912
2    121912
3    100388
4    100388
Name: count, dtype: int64

In [ ]:
#Filling in 1314 NaN values in ['result'] with 'not assessed'
df5['result'].fillna('not assessed', inplace=True)
df5.isnull().sum()

<ipython-input-77-5f733beeff40>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df5['result'].fillna('not assessed', inplace=True)

id                          0
assessment                  0
assessment_id               0
student_id                  0
school_id                   0
year_level_when_assessed    0
year_when_assessed          0
term_when_assessed          0
result                      0
dtype: int64

In [ ]:
df5['result'].value_counts()

result
A                 152206
B                 142846
C                 100490
D                  37547
E                   8714
not assessed        2014
Not Applicable       783
Name: count, dtype: int64

In [ ]:
# prompt: Use dictionary to replace all results A to E with integers 5 to 1

# Create a dictionary to map letter grades to numerical values
grade_mapping = {'A': 5, 'B': 4, 'C': 3, 'D': 2, 'E': 1}

# Apply the mapping to the 'result' column in df5
df5['result'] = df5['result'].replace(grade_mapping)

# Display the updated 'result' column to verify the changes
print(df5['result'].value_counts())

result
5                 152206
4                 142846
3                 100490
2                  37547
1                   8714
not assessed        2014
Not Applicable       783
Name: count, dtype: int64

### 4.7 pat_assessment.csv

    a. 25 entries in 'assessment_name' and 'year' with null values
    b. 'year' is not in the correct format, it is float64 but should int64
    c. 'scale_score' has formatting issue - one entry 'not applicable' when the rest are int64
    d. 'scale_score' contains outlier values

In [ ]:
df7.isnull().sum()
#We have 50 NaN values

id                           0
assessment_code              0
domain_id                    0
assessment_name             25
student_id                   0
school_id                    0
year_level_when_assessed     0
year                        25
scale_score                  0
dtype: int64

In [ ]:
df7.shape
#Total of 52,720 entries

(52720, 9)

In [ ]:
#Since NaN values make up a minimal 50 / 52720 entries, we will resolve this by simply dropping all the NaN entries
df7.dropna(inplace=True)
df7.isnull().sum()

id                          0
assessment_code             0
domain_id                   0
assessment_name             0
student_id                  0
school_id                   0
year_level_when_assessed    0
year                        0
scale_score                 0
dtype: int64

In [ ]:
#Now we change 'year' column from float dtype to integer
df7['year'] = df7['year'].astype('Int64')
df7.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52670 entries, 0 to 52719
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        52670 non-null  int64
 1   assessment_code           52670 non-null  object
 2   domain_id                 52670 non-null  int64
 3   assessment_name           52670 non-null  object
 4   student_id                52670 non-null  int64
 5   school_id                 52670 non-null  int64
 6   year_level_when_assessed  52670 non-null  int64
 7   year                      52670 non-null  Int64
 8   scale_score               52670 non-null  object
dtypes: Int64(1), int64(5), object(3)
memory usage: 4.1+ MB

In [ ]:
#Drop the 5 rows containing 'Not Available' values in ['scale_score'] and convert the column to numeric values
df7.drop(df7[df7['scale_score'] == 'Not Available'].index, inplace=True)
df7['scale_score'] = pd.to_numeric(df7['scale_score'])
pd.set_option('display.max_rows', 20)
df7['scale_score'].value_counts().sort_index()

scale_score
0      77
1      11
2      30
3      31
4      33
       ..
316     1
320     1
324     1
383     1
434     1
Name: count, Length: 56, dtype: int64

In [ ]:
#Replace the out of bounds values in df7['scale_score'] with the mean of the column (excluding the OOB values):
mean_score = round(df7.loc[df7['scale_score'] <= 50, 'scale_score'].mean())
df7.loc[df7['scale_score'] > 50, 'scale_score'] = mean_score
pd.set_option('display.max_rows', 20)
df7['scale_score'].value_counts().sort_index()

scale_score
0       77
1       11
2       30
3       31
4       33
      ...
46    1477
47    1329
48    1241
49    1181
50    8403
Name: count, Length: 51, dtype: int64

### 4.8 naplan_assessment.csv

    a. 15 duplicate entries
    b. 'grade_level' contains format inconsistency - several entries are entered in alphabet instead of integer
    c. 'score' contains 5 out of bound values (>700)

In [ ]:
#Drop the duplicate entries in naplan_assessment.csv
df8.drop_duplicates(inplace=True)
df8.duplicated().sum()

0

In [ ]:
#Fix formatting inconsistency in df8['grade_level'] by creating a dictionary and replacing the object strings with integers
grade_dict = {'three':3, 'seven':7}
df8['grade_level'].replace(grade_dict, inplace=True)
df8['grade_level'] = pd.to_numeric(df8['grade_level'])
df8['grade_level'].value_counts().sort_index()

<ipython-input-86-4c0cca090295>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df8['grade_level'].replace(grade_dict, inplace=True)

grade_level
3    16145
5    14975
7    12660
9     8335
Name: count, dtype: int64

In [ ]:
#Drop the out of bounds values in df8['score']
df8.drop(df8[df8['score'] > 700].index, inplace=True)
pd.set_option('display.max_rows', 20)
df8['score'].value_counts().sort_index()

score
0        58
1         2
3         1
4         2
6         2
       ...
696      93
697      75
698      75
699      82
700    8210
Name: count, Length: 694, dtype: int64

### 4.11 attendance.csv

    a. 'year_level' contains some entries expressed as alphabet instead of integer e.g. 'three' not '3'
    b. 'year_level' may contain entries with trailing white spaces, causing the same year level to be shown as different unique values.
    c. 'day of week' contains value inconsistencies, where days are displayed for e.g. as both 'Mon' and 'Monday'

In [ ]:
#First step is to convert entries expressed as objects into integers, using dictionary and pd.to_numeric functions
df11_dict = {'zero': 0, 'one': 1, 'two': 2, 'three': 3, 'four': 4,
             'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9,
             'ten': 10, 'eleven': 11, 'twelve': 12}
df11['year_level_when_attended'].replace(df11_dict, inplace=True)
df11['year_level_when_attended'] = pd.to_numeric(df11['year_level_when_attended'])
df11['year_level_when_attended'].value_counts().sort_index()

<ipython-input-88-e9b758eca3bf>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df11['year_level_when_attended'].replace(df11_dict, inplace=True)

year_level_when_attended
0     875518
1     964986
2     950672
3     920022
4     889068
5     862870
6     845556
7     844230
8     756098
9     579334
10    414012
11    252978
12     84942
Name: count, dtype: int64

In [ ]:
#Create another dictionary to turn df11['day_of_the_week'] into consistent 3 len string
day_dict = {'Monday': 'Mon', 'Tuesday': 'Tue', 'Wednesday': 'Wed', 'Thursday': 'Thu', 'Friday': 'Fri'}
df11['day_of_week'].replace(day_dict, inplace=True)
df11['day_of_week'].value_counts()

<ipython-input-89-786db3a3c9ec>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df11['day_of_week'].replace(day_dict, inplace=True)

day_of_week
Thu    1848840
Wed    1848840
Tue    1848840
Mon    1848840
Fri    1844926
Name: count, dtype: int64

**Data has been cleaned!!**

## 5.&nbsp;Exporting the cleaned & prepared data

In [ ]:
df1.to_csv('1 Schools_cleaned.csv', index = False)

In [ ]:
df1.to_csv('1 Schools_cleaned.csv', index = False)
df2.to_csv('2 Students_cleaned.csv', index = False)
df3.to_csv('3 Enrolments_cleaned.csv', index = False)
df5.to_csv('5 AE Assessment_cleaned.csv', index = False)
df7.to_csv('7 PAT Assessment_cleaned.csv', index = False)
df8.to_csv('8 NAPLAN Assessment_cleaned.csv', index = False)
df11.to_csv('11 Attendance_cleaned.csv', index = False)

In [ ]:
df5.to_csv('05 AE Assessment_cleaned.csv', index = False)

## 6.&nbsp;Pivoting

In this step we will generate a pivot table to show **percentage of different genders enrolled at 'Kirimpika School' in secondary year levels 8, 9, 10 for the year 2020**.

In [ ]:
#The required datapoints exist across different sets of data, so we first need to perform a join on the relevant sets.
df_pivot = pd.merge(df2, df3, on=['student_id'])

In [ ]:
df_pivot.head()
#Merge is successful. I can disregard NaN values because I do not require those columns.

,student_id,student_name,gender,enrolment_id,year_of_enrolment,enrolled_year_level,enrolled_school_id,enrolled_class,flag_current_enrolment
0,0,Student_0,Female,0_0_2021,2021,8,0,Class_A,1
1,0,Student_0,Female,0_0_2020,2020,7,0,Class_B,0
2,0,Student_0,Female,0_0_2019,2019,6,0,Class_B,0
3,0,Student_0,Female,0_0_2018,2018,5,0,Class_B,0
4,0,Student_0,Female,0_0_2017,2017,4,0,Class_A,0

In [ ]:
#Now generating a pivot table to show % genders enrolled at 'enrolled_school_id' = 4; at enrolled_year_level = 8, 9, 10; for year_of_enrolment = 2021.
df_pivot_filtered = df_pivot[df_pivot['year_of_enrolment'] == 2020]
df_pivot_filtered = df_pivot_filtered[df_pivot_filtered['enrolled_school_id'] == 4]
df_pivot_filtered = df_pivot_filtered[df_pivot_filtered['enrolled_year_level'].isin([8, 9, 10])]

pivot_table = df_pivot_filtered.pivot_table(index='enrolled_year_level', columns='gender', aggfunc='size', fill_value=0)

pivot_table = pivot_table.div(pivot_table.sum(axis=1), axis=0) * 100

pivot_table = pivot_table.round(1)

pivot_table.columns.name = 'Gender %'

pivot_table

Gender %             Female  Male  Other
enrolled_year_level
8                      53.2  44.7    2.1
9                      41.7  58.3    0.0
10                     49.0  44.9    6.1

In [ ]:
#Savings my pivot table to a csv output
pivot_table.to_csv('T2_pivot.csv')